.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #a77eb2;
  height: 150px;
  padding: 20px;
  color: #ddd;
  font-family: monospace;
  font-size: 1.5em;
}

.App-intro {
  font-size: 1em;
}

code {
  color: #aaa;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
